<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.outsidebrainkxmt563980">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_folder2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.OutsideBrain"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="30">
        <activity
            android:name="com.example.outsidebrainkxmt563980.MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.outsidebrainkxmt563980.ImageViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.OutsideBrain.NoActionBar.Fullscreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.outsidebrainkxmt563980.MainActivity" />
        </activity>
        <activity
            android:name="com.example.outsidebrainkxmt563980.FileEditorActivity"
            android:exported="true">

            <!-- 外部打开 TXT 正确写法（不会报错，全安卓版本通用） -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <!-- 必须加 scheme，才能去掉报错 -->
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>